@import url('./__title/place__title.css');
@import url('./__website/place__website.css');

.place__title-url {
  display: flex;
  padding-bottom: 60px;

}

@media screen and (max-width:1024px) {
  .place__title-url {
    padding-bottom: 40px;
  }
}

@media screen and (max-width:520px) {
  .place__title-url {
    padding-bottom: 32px;
  }
}