@import url('./___language/header__language.css');
@import url('./__logo/header__logo.css');

.header {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

@media screen and (max-width:1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width:375px) {
  .header {
    max-width: 343px;
  }
}

@media screen and (max-width:320px) {
  .header {
    max-width: 288px;
  }
}