@import url('./__img-item/place__img-item.css');
@import url('./__text/place__text.css');

.place__description {
  display: flex;
}

@media screen and (max-width:520px) {
  .place__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}